<!DOCTYPE html>
<html>
    
    <head>
        <title>Expense form</title>
    </head>
    <body>
        <h2>Insert an expense</h2>
            <form id="insert_expense">
                <p>
                    <label>Expense Name:</label><br>
                    <input type="text" id="expenseName" name="expenseName" required><br>
                </p>
                <p>
                    <label>Cost: </label><br>
                    <input type="number" step="any" id="cost" name="cost" required><br>
                </p>
                <p>Category:</p>
                    <select id="category" name="category" required>
                        <option value="groceries">Groceries</option>
                        <option value="hobbies">Hobbies</option>
                        <option value="entertainment">Entertainment</option>
                    </select>
                <p>

                <input type="button" id = "insert" value="Insert"/>
            </p>
            </form>
            <h2>All Your Expenses</h2>

            {% if expenses %}
                <ul>
                {% for exp in expenses %}
                    <li>
                        <strong>{{ exp.expenseName }}</strong> — ${{ exp.amount }}
                        (Category: {{ exp.CategoryName }}, Date Added: {{ exp.timestamp }})
                        <input type="button"
                        value="Delete"
                        onclick="delete_expense('{{ exp.expenseID }}')">
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No expenses found.</p>
            {% endif %}

        <script src="{{ url_for('static', filename='script.js') }}"></script>   
    </body>
</html>